<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta name="Author" content="Roank Krishna Shrestha">
<meta name="description" content="e-commerce website for camera equipments">
<meta name="keyword" content="HTML">
<meta name="publishedDate" content="4/6/2013">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta rel="stylesheet" type="css" content="">
<title>document</title>        
<link rel="stylesheet" href="../css/cart.css">


    </head>
    <body  >
        <!--cart items details-->
    <div class="product-container">
        <div class="product-header">
        
      
            <h5 class="product-title"> Product</h5>
            <h5 class="quantity"> Quantity</h5>
            <h5 class="price"> price</h5>
            <h5 class="total"> total</h5>
      
           
           </div>
           <div class="products">
             </div>
           </div>



                <!--
                <div class="cart-info">
                <img src="img/images/camera images/canon/eos r50.png">
              
           <div>
            <p> canon eos  </p>
            <small> Price:$50.00</small>
            <br>
            <a href=""> remove</a>
        </div>
    </div>
            </td>
            <td> <input type="number" value="1"></td>
            <td> $150.00</td>
           </tr>
           <tr>
            <td> 
                <div class="cart-info">
                <img src="img/images/camera images/sony/alpha 6600.png">
              
           <div>
            <p> sony/alpha 6600 </p>
            <small> Price:$250.00</small>
            <br>
            <a href=""> remove</a>
        </div>
    </div>
            </td>
            <td> <input type="number" value="1"></td>
            <td> $50.00</td>
           </tr>
           <tr>
            <td> 
                <div class="cart-info">
                <img src="img/images/lens images/ASPH leica L.jpg">
              
           <div>
            <p> ASPH leica L </p>
            <small> Price:$80.00</small>
            <br>
            <a href=""> remove</a>
        </div>
    </div>
            </td>
            <td> <input type="number" value="1"></td>
            <td> $50.00</td>
           </tr>
    </table>
    <div class="total-price">
        <table>
          <tr>
            <td> Subtotal</td>
            <td> $200</td>
          </tr> 
          <tr>
            <td> Tax</td>
            <td> $35</td>
          </tr> 
          <tr>
            <td>Toatal</td>
            <td> $235</td>
          </tr>  
        </table>

    </div>
</div>    
-->
<script src="../java_script/main.js">
    
</script>
    </body>
        </html>