<!DOCTYPE html>
<html>

<head>
    <meta name="author" content="Ness">
    <meta name="description" content="HTML document">
    <meta name="keywords" content="html/css/javascript">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accessories & Equipments </title>
    <script src="https://kit.fontawesome.com/85ebdea040.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/product.css">



</head>

<body>
    <header>
        <!--Logo-->
        <a href="index.html"><img src="/images/lastrada.svg" alt="LaStrada Logo" width="60%"></a>
        <!--Navigation-->
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="product_camera.html" class="active">Products</a></li>
                <li><a href="research.html">Research</a></li>


            </ul>
            <div class="carts">
                <a href="#"><img src="/images/shopping-cart (1).png" alt=""></a>

            </div>
        </nav>
    </header>
    <section id="Product1" class="section-p1">
        <!--Inline CSS h2 designing, only applicable in this particular section-->
        <h2 style="color: black;"> Equipment</h2>


        <div class="pro-container">
            <div class="pro">
                <img src="../images/Console4.jpeg" alt=" image">
                <div class="des">

                    <h5>ASPH leica L</h5>


                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/Recorder 3.jpeg">
                <div class="des">

                    <h5>Recorder 3</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/camerapod.jpg" alt=" ">
                <div class="des">

                    <h5>camera pod</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/Tripod1.jpeg" alt=" ">
                <div class="des">

                    <h5>Tripod1</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>
        </div>
        <div class="pro-container">
            <div class="pro">
                <img src="../images/Recorder4.jpeg" alt=" image">
                <div class="des">

                    <h5>Recorder4</h5>


                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/Drones7.jpeg" alt=" ">
                <div class="des">

                    <h5>Drones7</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>


            <div class="pro">
                <img src="../images/Console3.jpeg" alt=" ">
                <div class="des">

                    <h5>Console3</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/Recorder2.jpeg" alt=" ">
                <div class="des">

                    <h5>Recorder2</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>
        </div>
    </section>
    <div class="small-container">
        <div class="row page-btn">
            <div class="col-5">
                <h3> <a href="product_camera.html"> Camera</a></h3>
            </div>
            <div class="col-5">
                <h3> <a href="product_lens.html">Lens</a></h3>
            </div>
            <div class="col-5">
                <h3><a href="product_equipment.html">equipment </a>
                    <h3></h3>
            </div>
            <div class="col-5">
                <h3><a href="product_accessaries.html"> accessory</a></h3>
            </div>
        </div>
    </div>
    <script>

        const allStars = document.querySelectorAll('.star'); //selecting star class
        let current_rating = document.querySelector('.current_rating');
        allStars.forEach((star, i) => { //i is star

            //when you click any stars console logs the position of the clicked stars
            star.onclick = function () {


                // since the arrays starts with 0, +1 is done to count 5 star system.(to get output of clicked stars   )
                let current_star_level = i + 1;

                allStars.forEach((star, j) => { // j is star level position
                    current_rating.innerText = `${current_star_level} of 5`;

                    //if the selected star and its position selected earlier are same print the selected star
                    if (current_star_level >= j + 1) {
                        star.innerHTML = '&#9733';
                    }
                    else //else print the new selected star
                    {
                        star.innerHTML = '&#9734';
                    }

                })
            }

        })

        {

        }


    </script>
</body>

</html>