<!DOCTYPE html>
<html>

<head>
    <meta name="author" content="Ness">
    <meta name="description" content="HTML document">
    <meta name="keywords" content="html/css/javascript">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accessories & Equipments </title>
    <script src="https://kit.fontawesome.com/85ebdea040.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/product.css">



</head>

<body>
    <header>
        <!--Logo-->
        <a href="index.html"><img src="/images/lastrada.svg" alt="LaStrada Logo" width="60%"></a>
        <!--Navigation-->
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="product_camera.html" class="active">Products</a></li>
                <li><a href="research.html">Research</a></li>


            </ul>
            <div class="carts">
                <a href="#"><img src="/images/shopping-cart (1).png" alt=""></a>
                <span class="cart5">0</span>
            </div>
        </nav>
    </header>
    <section id="Product1" class="section-p1">
        <!--Inline CSS h2 designing, only applicable in this particular section-->
        <h2 style="color: black;"> Camera</h2>
        <!--Inline CSS p designing, only applicable in this particular section-->
        <p style="color: aliceblue;">Spring for saving upto $600</p>
        <br>
        <h2 style="text-align: center ;"><span style="color: black;"> Canon</span></h2>
        <div class="pro-container">
            <div class="pro">
                <a href="product_detail_page.html">
                    <img src="../images/eos r50.png" alt=" image">
                </a>
                <div class="des">
                    <span>Canon</span>
                    <h5>Canon - eos r50</h5>



                    <!--Emmet Abbreviation: Emmet abbreviations are shortcuts used in HTML and 
                other web development languages to quickly generate code snippets.
                "&#9734" is an Emmet Abbreviation for star-->
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <a class="add-cart cart1" href="#"> <img src="../images/cart.png"></a>
                </div>
            </div>




            <div class="pro">
                <img src="../images/eos r6.png" alt=" ">
                <div class="des">
                    <span>Canon</span>
                    <h5>canon/eos r6</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <a class="add-cart cart1" href="#"> <img src="../images/cart.png"></a>
                </div>
            </div>

            <div class="pro">
                <img src="../images/eos r8.png" alt=" ">
                <div class="des">
                    <span>Canon</span>
                    <h5>canon/eos r8</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/eos r6 sideview.webp" alt=" ">
                <div class="des">
                    <span>Canon</span>
                    <h5>EOS R50</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>
        </div>
    </section>

    <section id="Product1" class="section-p1">

        <br>
        <h2 style="text-align: center ;"><span style="color: black;"> Sony</span></h2>
        <div class="pro-container">

            <div class="pro">
                <img src="../images/alpha 6600.png" alt=" image">
                <div class="des">
                    <span>Sony</span>
                    <h5>sony alpha 6600</h5>

                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>

                    </div>




                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/alpha 7R.png" alt=" ">
                <div class="des">
                    <span>Sony</span>
                    <h5>sony alpha 7R</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>
                    <h4>$1349.00</h4>
                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/alpha zv.png" alt=" ">
                <div class="des">
                    <span>Sony</span>
                    <h5>sony/alpha zv.png8</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>
                    <h4>$1349.00</h4>
                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/ZV-E1L.webp" alt=" ">
                <div class="des">
                    <span>Sony</span>
                    <h5>ZV -E1L</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>
        </div>
    </section>

    <section id="Product1" class="section-p1">

        <h2 style="text-align: center ;"><span style="color: black;"> Nikon</span></h2>
        <div class="pro-container">
            <div class="pro">
                <img src="../images/D 47.png" alt=" image">
                <div class="des">
                    <span>Nikon</span>
                    <h5>nikon D 47</h5>

                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/D 850.png" alt=" ">
                <div class="des">
                    <span>Nikon</span>
                    <h5>nikon D 850</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/D6.png" alt=" ">
                <div class="des">
                    <span>Nikon</span>
                    <h5>nikon D6</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>

            <div class="pro">
                <img src="../images/Z 30.webp" alt=" ">
                <div class="des">
                    <span>Nikon</span>
                    <h5>Nikon Z 30</h5>
                    <div class="starbody">
                        <div class="star_rating">

                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                            <button class="star"> &#9734;</button>
                        </div>
                        <p class="current_rating"> 0 of 5</p>




                    </div>

                    <h4>$1349.00</h4>

                </div>
                <div class="cart">
                    <img src="../images/cart.png">
                </div>
            </div>
        </div>
    </section>
    </br>
    <br>
    <div class="small-container">
        <div class="row page-btn">
            <div class="col-5">
                <h3> <a href="product_camera.html"> Camera</a></h3>
            </div>
            <div class="col-5">
                <h3> <a href="product_lens.html">Lens</a></h3>
            </div>
            <div class="col-5">
                <h3><a href="product_equipment.html">equipment </a>
                    <h3></h3>
            </div>
            <div class="col-5">
                <h3><a href="product_accessaries.html"> accessory</a></h3>
            </div>
        </div>
    </div>
    <script>

        const allStars = document.querySelectorAll('.star'); //selecting star class
        let current_rating = document.querySelector('.current_rating');
        allStars.forEach((star, i) => { //i is star

            //when you click any stars console logs the position of the clicked stars
            star.onclick = function () {


                // since the arrays starts with 0, +1 is done to count 5 star system.(to get output of clicked stars   )
                let current_star_level = i + 1;

                allStars.forEach((star, j) => { // j is star level position
                    current_rating.innerText = `${current_star_level} of 5`;

                    //if the selected star and its position selected earlier are same print the selected star
                    if (current_star_level >= j + 1) {
                        star.innerHTML = '&#9733';
                    }
                    else //else print the new selected star
                    {
                        star.innerHTML = '&#9734';
                    }

                })
            }

        })

        {

        }


    </script>
    </script>
    <script src="js/main.js">

    </script>

</body>