<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="Author" content="Roank Krishna Shrestha">
    <meta name="description" content="e-commerce website for camera equipments">
    <meta name="keyword" content="HTML">
    <meta name="publishedDate" content="4/6/2013">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta rel="stylesheet" type="css" content="">
    <title>All products</title>
    <link rel="stylesheet" href="../css/product1.css">
    <link rel="stylesheet" href="../css/product.css">
    <script src="js/js_product.js"></script>
</head>

<body>
    <!--single product details-->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-3">
                <img src="../images/eos r50.png " width="100%" id="product-img">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="../images/eos r50.png" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">

                        <img src="../images/eos r6 sideview.webp" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="../images/eos-r6 front view.webp" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="../images/eos-r6 openview.webp" width="100%" class="small-img">
                    </div>


                </div>
            </div>


            <div class="col-3">

                <h4>dslr </h4>
                <h1 style="font-size: 80px"> canon eos r50</h1>
                <h2> $500.00</h2>
                <input type="number" value="1">
                <a href="" class="btn"> Add to cart</a>

                <br>
                <br>
                <h2> Product Details <i class="fa fa-indent "></i></h2>
                <p> The great features of the EOS R50 is that the camera knows when it’s shooting vertical or
                    horizontal. Quality. Power. Speed. Capture razor-sharp detail and get
                    the inimitable Canon look, thanks to these brilliant all-round features. Your creative breakthrough
                    awaits.Quality. Power. Speed. Capture razor-sharp detail and get
                    the inimitable Canon look, thanks to these brilliant all-round features. Your creative breakthrough
                    awaits.</p>




            </div>
        </div>
        <script>
            var productImg = document.getElementById("product-img");
            var smallImg = document.getElementsByClassName("small-img");
            smallImg[0].onclick = function () {
                productImg.src = smallImg[0].src;
            }
            smallImg[1].onclick = function () {
                productImg.src = smallImg[1].src;
            }
            smallImg[2].onclick = function () {
                productImg.src = smallImg[2].src;
            }
            smallImg[3].onclick = function () {
                productImg.src = smallImg[3].src;
            }
        </script>
        <div class="small-container">
            <div class="row row-2">
                <h1> Related products</h1>
                <p> <a href="product_camera.html">view more</a></p>
            </div>
            <section id="Product1" class="section-p1">


                <div class="pro-container">
                    <div class="pro">
                        <img src="../images/eos r50.png" alt=" image">
                        <div class="des">
                            <span>Canon</span>
                            <h5>Canon - eos r50</h5>


                            <div class="starbody">
                                <div class="star_rating">

                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                </div>
                                <p class="current_rating"> 0 of 5</p>




                            </div>
                            <h4>$1349.00</h4>

                        </div>
                        <div class="cart">
                            <img src="../images/cart.png">
                        </div>
                    </div>

                    <div class="pro">
                        <img src="../images/eos r6.png" alt=" ">
                        <div class="des">
                            <span>Canon</span>
                            <h5>canon/eos r6</h5>
                            <div class="starbody">
                                <div class="star_rating">

                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                </div>
                                <p class="current_rating"> 0 of 5</p>




                            </div>
                            <h4>$1349.00</h4>

                        </div>
                        <div class="cart">
                            <img src="../images/cart.png">
                        </div>
                    </div>

                    <div class="pro">
                        <img src="../images/eos r8.png" alt=" ">
                        <div class="des">
                            <span>Canon</span>
                            <h5>canon/eos r8</h5>
                            <div class="starbody">
                                <div class="star_rating">

                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                </div>
                                <p class="current_rating"> 0 of 5</p>




                            </div>
                            <h4>$1349.00</h4>

                        </div>
                        <div class="cart">
                            <img src="../images/cart.png">
                        </div>
                    </div>

                    <div class="pro">
                        <img src="../images/EOS R50.webp" alt=" ">
                        <div class="des">
                            <span>Canon</span>
                            <h5>EOS R50</h5>
                            <div class="starbody">
                                <div class="star_rating">

                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                </div>
                                <p class="current_rating"> 0 of 5</p>




                            </div>
                            <h4>$1349.00</h4>

                        </div>
                        <div class="cart">
                            <img src="../images/cart.png">
                        </div>
                    </div>
                </div>
            </section>

            <section id="Product1" class="section-p1">

                <br>
                <h2 style="text-align: center ;"><span style="color: black;"> Sony</span></h2>
                <div class="pro-container">

                    <div class="pro">
                        <img src="../images/alpha 6600.png" alt=" image">
                        <div class="des">
                            <span>Sony</span>
                            <h5>sony alpha 6600</h5>

                            <div class="starbody">
                                <div class="star_rating">

                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                </div>
                                <p class="current_rating"> 0 of 5</p>





                            </div>
                            <h4>$1349.00</h4>

                        </div>
                        <div class="cart">
                            <img src="../images/cart.png">
                        </div>
                    </div>

                    <div class="pro">
                        <img src="../images/alpha 7R.png" alt=" ">
                        <div class="des">
                            <span>Sony</span>
                            <h5>sony alpha 7R</h5>
                            <div class="starbody">
                                <div class="star_rating">

                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                </div>
                                <p class="current_rating"> 0 of 5</p>




                            </div>
                            <h4>$1349.00</h4>

                        </div>
                        <div class="cart">
                            <img src="../images/cart.png">
                        </div>
                    </div>

                    <div class="pro">
                        <img src="../images/alpha zv.png" alt=" ">
                        <div class="des">
                            <span>Sony</span>
                            <h5>sony/alpha zv.png8</h5>
                            <div class="starbody">
                                <div class="star_rating">

                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                </div>
                                <p class="current_rating"> 0 of 5</p>




                            </div>
                            <h4>$1349.00</h4>

                        </div>
                        <div class="cart">
                            <img src="../images/cart.png">
                        </div>
                    </div>

                    <div class="pro">
                        <img src="../images/ZV-E1L.webp" alt=" ">
                        <div class="des">
                            <span>Sony</span>
                            <h5>ZV -E1L</h5>
                            <div class="starbody">
                                <div class="star_rating">

                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                    <button class="star"> &#9734;</button>
                                </div>
                                <p class="current_rating"> 0 of 5</p>




                            </div>
                            <h4>$1349.00</h4>

                        </div>
                        <div class="cart">
                            <img src="../images/cart.png">
                        </div>
                    </div>

            </section>

</body>

</html>