/* Webfont: Havana */@font-face {
    font-family: 'Havana';
    src: url('Havana.woff') format('woff'), /* Modern Browsers */
         url('Havana.woff2') format('woff2'), /* Modern Browsers */
         url('Havana.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

